html {
  height: 100vh;
  width: 100vw;
}

body, #root, .App {
  margin: 0;
  /* font family sans serif, font: opensans */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
  height: 100%;
  width: 100%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Home {
  height: 100%;
  width: 100%;
  background-color: #242424;
  color: #fff;
}

#Home h1, #Home  h2 {
  text-align: center;
}

.ChatList a{
  text-decoration: none;
}

.ChatList hr {
  border: 1px solid #000000;
}

.ChatListItem h3, .ChatListItem p {
  padding: 0;
  margin: 0;
}

.ChatListItem {
  color: #8d9b9f;
  margin: 20px 0px;
}